<div class="container">
  <div class="actions">
    <button
      class="reset-btn"
      (click)="onResetFilter()"
    >
      <mat-icon>redo</mat-icon>
      <div class="text">
        Reset
      </div>
    </button>
    
    <button
      class="add-btn"
      (click)="openDialogEditor()"
    >
      <div class="text">+</div>
      <div class="text">
        Add a company staf
      </div>
    </button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mentor-table">
  
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> 
        <app-header-filter
          [label]="'Name'"
          (onChangeValue)="onChangeFilterName($event)"
          [value]="filterColumn?.name"
        ></app-header-filter>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.first_name + ' ' + element?.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef> 
        <app-header-filter
          [label]="'User Type'"
          [value]="filterColumn?.userType"
          (onChangeValue)="onChangeFilterUserType($event)"
          [type]="'autocomplate'"
        ></app-header-filter>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.company?.user_type}} </td>
    </ng-container>
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef> 
        <app-header-filter
          [label]="'Entity'"
          [value]="filterColumn?.entity"
          (onChangeValue)="onChangeFilterEntity($event)"
          [type]="'select'"
        ></app-header-filter>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.company?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> 
        <app-header-filter
          [label]="'Status'"
          [value]="filterColumn?.status"
          (onChangeValue)="onChangeFilterStatus($event)"
          [type]="'status'"
        ></app-header-filter>
      </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="mx-auto icon-circle {{element?.user_status}}">
          <mat-icon>checked</mat-icon>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> 
        <app-header-filter
          [label]="'Action'"
          [type]="'empty'"
        ></app-header-filter>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="w-full">
          <div class="mx-auto flex w-fit-content">
            <div 
              class="icon-circle edit"
              (click)="openDialogEditor(element)"
            >
              <mat-icon>edit</mat-icon>
            </div>
            <div 
              class="icon-circle"
              (click)="openDialogRemoveItem(element)"
            >
              <div class="text-icon">X</div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  <mat-paginator 
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>
